<%

function getProductName(id) {
  for (const category of categories) {
    for (const product of category.products) {
      if (product.id === id) {
        return product.name;
      }
    }
  }
}

%>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" />
    <title>The Fog Man</title>
    <link href="styles/cart.css" rel="stylesheet" />
    <link href="styles/style.css" rel="stylesheet" />
  </head>
  <body id="container" class="container">
    <%- include('partials/header'); %>
    <main id="cart" class="cart">
      <section id="items" class="items">
        <div id="items-key" class="items-key item">
          <p>Name</p>
          <p>Amount</p>
        </div>
        <%
        for (const item of items) {
          if (item.amount === 0) {
            continue;
          }
        %>
          <div id="item-<%= item.id %>" class="item">
            <p class="item-name"><%= getProductName(item.id) %></p>
            <div id="item-<%= item.id %>-buttons" class="item-buttons">
              <button id="item-<%= item.id %>-decrement" class="item-button" type="button">-</button>
              <span id="item-<%= item.id %>-amount" class="amount"><%= item.amount %></span>
              <button id="item-<%= item.id %>-increment" class="item-button" type="button">+</button>
            </div>
          </div>
        <% } %>
      </section>
    </main>
    <script type="module" src="scripts/cart.js"></script>
  </body>
</html>
